.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	width: 100%;
}

.intro {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-height: 450px;
}
